@font-face {
    font-family: 'Bebas Neue';
    src: url('../font/bebasneue.otf');
}
@font-face {
    font-family: 'Inter';
    src: url('../font/inter.otf');
}

@keyframes online-pulse {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}

body {
    color: #FFFFFF;
    font-family: 'Bebas Neue';
    padding-top: 40px;
    background: linear-gradient(70deg, #181818 83%, #1D1D1D 83%);

    & > * {
        padding-inline: max(40px, calc((100% - 1280px) / 2));
    }

    &::-webkit-scrollbar {
        width: 10px;
        height: 0;
    }
    
    &::-webkit-scrollbar-track {
        background: #181818;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #B53131;
    }

    @media (max-width: 640px) {
        padding-top: 50px;
        background: #181818;

        & > * {
            padding-inline: 50px;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 70px;

    &__logo {
        width: 206px;

        & img {
            width: 100%;
        }
    }

    &__socials {
        gap: 15px;
        font-size: 14px;
        display: flex;
        align-items: center;
        text-align: end;
        font-family: 'Inter';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__phone {
        display: flex;
        align-items: end;
        flex-direction: column;

        & *:first-child {
            font-size: 22px;
            
            color: #FFFFFF;
            will-change: color;
            transition: color 150ms;

            &:hover {
                color: #B53131;
            }
        }

        & *:last-child {
            font-size: 14px;
            position: relative;
        }

        & *:last-child:before,
        & *:last-child[data-active]:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            left: -12px;
            top: calc(50% - 3px);
            border-radius: 100%;
            background: #B53131;
            z-index: -1;
        }

        & *:last-child[data-active]:before,
        & *:last-child[data-active]:after {
            background: #14FF3A;
        }

        & *:last-child[data-active]:after {
            animation: online-pulse ease-in-out 3s;
            animation-iteration-count: infinite;
        }
    }

    @media (max-width: 640px) {
        margin-bottom: 40px;

        &__logo {
            width: 118px;
        }


        &__socials {
            display: none;
        }

        &__phone {
            & *:first-child {
                font-size: 16px;
            }

            & *:last-child {
                font-size: 10px;
            }
        }
    }
}

.hero {
    position: relative;

    &__title {
        font-size: 54px;
        max-width: 680px;
        margin-bottom: 30px;
    }

    &__list {
        gap: 16px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-family: 'Inter';
        margin-bottom: 50px;

        & * {
            gap: 10px;
            display: flex;
            align-items: center;
        }

        & *::before {
            content: '';
            width: 24px;
            height: 24px;
            background: url('../img/check.svg');
            background-size: 100%;
        }
    }

    &__pay {
        gap: 28px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        & > *:last-child {
            font-size: 20px;
            max-width: 270px;
            font-family: 'Inter';
        }
    }

    &__button {
        background: linear-gradient(90deg, #B53131 50%, #FFFFFF 50%);
        background-size: 200%;
        will-change: background-position-x;
        transition: background-position-x 300ms;

        & * {
            display: block;
            font-size: 32px;
            padding: 18px 36px;

            background: linear-gradient(90deg, #FFFFFF 50%, #B53131 50%);
            background-size: 200%;
            will-change: background-position-x;
            transition: background-position-x 300ms;

            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }
    
        &:hover, &:hover * {
            background-position-x: 100%;
        }
    }

    &__points {
        gap: 24px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .point {
            color: #181818;
            background: #FFFFFF;
            margin: 0 7px 12px 0;
            padding: 20px 30px;
            position: relative;
            display: flex;
            align-items: center;
            gap: 18px;
            font-size: 20px;
            white-space: nowrap;
        
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 12px;
                left: 7px;
                background: #B53131;
                z-index: -1;
            }
        
            & img {
                flex: none;
                width: 44px;
                height: 44px;
            }
        }
    }

    &__men {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        height: 100%;
        width: calc(100% - 680px);

        & img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, transparent 75%, #181818);
        }
    }

    @media (max-width: 640px) {
        display: flex;
        flex-direction: column;

        @for $i from 1 through 4 {
            & > :nth-child(#{$i}) {
                order: $i;
            }
        }

        &__title {
            font-size: 29px;
            max-width: none;
            margin-bottom: 15px;
        }

        &__list {
            font-size: 14px;
            margin-bottom: 310px;

            & *::before {
                width: 18px;
                height: 18px;
            }
        }

        &__pay {
            order: 10 !important;

            & > *:last-child {
                display: none;
            }
        }

        &__button {
            width: 300px;
            margin-inline: auto;
            
            & * {
                font-size: 24px;
                text-align: center;
                padding-inline: 12px;
            }
        }

        &__points {
            margin-bottom: 15px;
            grid-template-columns: repeat(2, 1fr);

            .point {
                gap: 12px;
                padding: 12px;
                font-size: 12px;
                margin: 0 4px 7px 0;
            
                & img {
                    width: 26px;
                    height: 26px;
                }

                &:before {
                    top: 7px;
                    left: 4px;
                }
            }
        }

        &__men {
            width: 195px;
            height: auto;
            top: unset;
            bottom: 120px;

            &::after {
                display: none;
            }
        }
    }
}

.how {
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;

    &__title {
        font-size: 64px;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        font-size: 32px;
        line-height: 145%;
        font-family: 'Inter';

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 100%;
            background: #B53131;
            margin-left: -40px;
        }
    
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                margin-left: 40px * $i;
            }
        }
    }

    @media (max-width: 640px) {
        margin-bottom: 50px;

        &__title {
            font-size: 24px;
            margin-bottom: 25px;
        }

        &__list {
            gap: 15px;
        }

        &__item {
            font-size: 16px;

            &:before {
                width: 5px;
                margin-left: -10px;
            }
        
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    margin-left: 10px * $i;
                }
            }
        }
    }
}

.orders {
    margin-bottom: 50px;

    &__title {
        font-size: 64px;
        max-width: 690px;
        margin-bottom: 30px;
    }

    &__container {
        gap: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__slider {
        display: none;
    }

    .order {
        position: relative;
        background: #FFFFFF;
        margin: 0 11px 13px 0;
        padding: 32px 28px;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 13px;
            left: 11px;
            background: #B53131;
            z-index: -1;
        }

        &__title {
            font-size: 28px;
            font-weight: normal;
            color: #181818;
            margin-bottom: 20px;
        }
        
        &__text {
            font-size: 20px;
            color: #B53131;
            font-family: 'Inter';
            margin-bottom: 35px;
        }
        
        &__contact {
            font-size: 16px;
            color: #181818;
            font-family: 'Inter';
            margin-bottom: 35px;
        }
        
        &__button {
            width: 100%;
            margin-top: auto;
            text-align: center;

            background: linear-gradient(90deg, #B53131 50%, #FFFFFF 50%);
            background-size: 200%;
            will-change: background-position-x;
            transition: background-position-x 300ms;
    
            & * {
                display: block;
                font-size: 20px;
                padding-block: 13px;

                border: 5px solid #B53131;
    
                background: linear-gradient(90deg, #FFFFFF 50%, #B53131 50%);
                background-size: 200%;
                will-change: background-position-x;
                transition: background-position-x 300ms;
    
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }
        
            &:hover, &:hover * {
                background-position-x: 100%;
            }
        }
    }

    @media (max-width: 640px) {

        &__title {
            font-size: 24px;
            margin-bottom: 15px;
        }

        &__container {
            gap: 15px;
            overflow: hidden;
            width: 300%;
            margin-bottom: 15px;

            will-change: transform;
            transition: transform 300ms;
        }

        &__slider {
            display: block;
            background: white;
            margin-bottom: 50px;
            height: 5px;

            & > * {
                display: block;
                height: 100%;
                width: 33.33%;
                background: #B53131;
                
                will-change: margin-left;
                transition: margin-left 300ms;
            }
        }

        .order {
            &__title {
                font-size: 26px;
                margin-bottom: 30px;
            }
        }

        @for $i from 0 through 2 {
            &[data-current='#{$i}'] > &__container {
                transform: translateX($i * -33.34%);
            }
            
            &[data-current='#{$i}'] > &__slider > * {
                margin-left: $i * 33.34%;
            }
        }
    }
}

.form {
    height: 475px;
    margin-bottom: 100px;

    &__container {
        position: absolute;
        left: 0;
        right: 0;
        height: 475px;
        overflow: hidden;
        background: #B53131;
    }

    &__page {
        height: 100%;
        background: #B53131;

        padding-block: 55px;
        padding-inline: max(40px, (100% - 1280px) / 2);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: none;
        will-change: transform;
        transition: transform 300ms;

        &:has(+ [data-active]) {
            display: flex;
            transform: translateX(-100%);
        }
        
        &[data-active] {
            display: flex;
            transform: translateX(0);
        }

        &[data-active] + & {
            display: flex;
            transform: translateX(100%);
        }
    }

    &__title {
        width: 690px;
        font-size: 64px;
    }

    &__next {
        margin-left: auto;
        font-size: 32px;
        width: 300px;
        height: 65px;
        color: #FFFFFF;
        background: #B53131;
        border: 5px #FFFFFF solid;
    }

    &__input {
        display: flex;
        height: 65px;
        gap: 130px;

        & > :first-child {
            width: 360px;
            flex: none;
            font-size: 24px;
            font-family: 'Inter';

            display: flex;
            align-items: center;
        }

        & > :last-child {
            flex: 1 0 auto;
            font-size: 24px;
            padding-inline: 20px;
        }
    }

    &__select {
        display: flex;
        justify-content: center;
        gap: 120px;

        & > input {
            display: none;
        }

        & > input:checked + label,
        & > input:checked + label > * {
            background-position-x: 100%;
        }

        & > label {
            width: 300px;
            height: 65px;
            cursor: pointer;

            background: linear-gradient(90deg, #FFFFFF 50%, #B53131 50%);
            background-size: 200%;
            will-change: background-position-x;
            transition: background-position-x 300ms;

            & > * {
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 32px;
                width: 100%;
                height: 100%;

                border: 5px solid #FFFFFF;
    
                background: linear-gradient(90deg, #B53131 50%, #FFFFFF 50%);
                background-size: 200%;
                will-change: background-position-x;
                transition: background-position-x 300ms;
    
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }

            &:hover, &:hover * {
                background-position-x: 100%;
            }
        }
    }
}

.about {
    margin-bottom: 130px;

    &__title {
        font-size: 64px;
        margin-bottom: 50px;
    }

    &__row {
        gap: 50px;
        display: flex;
        align-items: center;

        &:nth-child(odd) {
            text-align: end;
            flex-direction: row-reverse;
        }

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__image {
        flex: none;
        width: 344px;
        height: 344px;
        margin: 11px;
        padding: 14px;
        position: relative;
        background: #B53131;

        &:before, &::after {
            content: "";
            width: 25px;
            height: 25px;
            display: block;
            position: absolute;
            background: white;
            z-index: -1;
        }

        &:before {
            top: -11px;
            left: -11px;
        }

        &:after {
            right: -11px;
            bottom: -11px;
        }
    }

    &__text {
        font-size: 32px;
        line-height: 145%;
        padding-block: 25px;
        font-family: 'Inter';
    }

    @media (max-width: 640px) {
        margin-bottom: 200px;

        &__title {
            font-size: 24px;
            margin-bottom: 15px;
        }

        &__row {
            gap: 15px;
            flex-direction: column-reverse;

            &:nth-child(odd) {
                text-align: initial;
                flex-direction: column-reverse;
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        &__text {
            font-size: 15px;
            line-height: 145%;
            text-align:justify;
            padding-block: unset;
        }

        &__image {
            width: 100%;
            height: auto;
            margin: unset;
            padding: unset;
    
            &:before, &::after {
                display: none;
            }

            & img {
                width: 100%;
                aspect-ratio: 1.4 / 1;
                object-fit: cover;
            }
        }
    }
}

.footer {
    padding-block: 50px 65px;
    border-bottom: solid 10px #B53131;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto min-content;
    background: linear-gradient(160deg, #EBEBEB 57.5%, #E0E0E0 57.5%);

    &__logo {
        width: 162px;
        margin-bottom: 45px;
    }

    &__contacts {
        gap: 20px;
        font-size: 32px;
        display: flex;
        flex-direction: column;

        & * {
            color: #181818;
            will-change: color;
            width: fit-content;
            transition: color 150ms;

            &:hover {
                color: #B53131;
            }
        }
    }

    &__socials {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        position: relative;
    }

    &__angle {
        position: absolute;
        top: -50px;
        right: 10px;
        width: 60px;
        transform: translateY(-50%);
    }
}

.socials {
    gap: 15px;
    display: flex;

    & > * {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            border-radius: 100%;
            background: #FFFFFF;
        }
    }
    
    & > * * {
        width: 30px;
        height: 30px;
        display: block;
        
        will-change: background-color;
        transition: background-color 150ms;
    }

    @for $i from 1 through 4 {
        & > :nth-child(#{$i}) * {
            -webkit-mask: url("../img/socials-#{$i}.svg") no-repeat center;
            mask: url("../img/socials-#{$i}.svg") no-repeat center;
        }
    }

    &--header {
        & > * > * {
            background-color: #B53131;
        }

        & > *:hover * {
            background-color: #FFFFFF;
        }

        & > *:hover::before {
            background-color: #B53131;
        }
    }

    &--footer {
        flex-direction: column;

        & > * > * {
            background-color: #181818;
        }

        & > *:hover * {
            background-color: #B53131;
        }
    }
}

.decor {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    right: 0;

    &__container {
        position: relative;
    }

    &__container * {
        position: absolute;
    }

    &__dots {
        right: -100px;
        top: 200px;
        width: 297px;
    }

    &__line {
        left: -100px;
        top: 200px;
        width: 436px;
    }

    &__left {
        left: -100px;
        top: 2650px;
        width: 175px;
    }

    &__right {
        right: -100px;
        top: 900px;
        width: 200px;
    }

    @media (max-width: 640px) {
        display: none;
    }
}
